<% round_up = -> (n, increment) { increment*((n+increment-1)/increment) } %>

end
<div id="epic-<%= epic.id %>" class="epic-container">
  <div class="ticket-stats">
    <div class="epic-title">
      <%= epic.name %>
    </div>
    <div class="current-target">
      Current Target: <%= epic.epic_snapshots.last.total_storypoints %>
    </div>
    <div class="current-progress">
      Current Progress: <%= epic.epic_snapshots.last.completed_storypoints %>
    </div>
    <div class="total-tickets">
      Total Tickets: <%= epic.total_tickets.to_i %>
    </div>
    <div class="completed-tickets">
      Completed Tickets: <%= epic.completed_tickets.to_i %>
    </div>
    <div class="unestimated-tickets">
      Unestimated Tickets: <%= epic.unestimated_tickets.to_i %>
    </div>
  </div>
  <%= line_chart [
      {name: 'Target', data: epic.epic_snapshots.select{ |snapshot| !(snapshot.created_at.in_time_zone("EST").saturday? || snapshot.created_at.in_time_zone("EST").sunday?) }.map{|snapshot| [snapshot.created_at.in_time_zone("EST").strftime("%B %e %Y %l %p"), snapshot.total_storypoints]} },
      {name: 'Progress', data: epic.epic_snapshots.select{ |snapshot| !(snapshot.created_at.in_time_zone("EST").saturday? || snapshot.created_at.in_time_zone("EST").sunday?) }.map{|snapshot| [snapshot.created_at.in_time_zone("EST").strftime("%B %e %Y %l %p"), snapshot.completed_storypoints]} }
    ], height: "600px", colors: ["#c32aff", "#39ff14"], min: 0, max: round_up.call(epic.highest_storypoint_count.to_i, 25), points: false, xtitle: "Time", ytitle: "Storypoints",
    library: {
      scales: {
        yAxes: [
          {
            scaleLabel: {
              fontColor: 'gray',
            },
            gridLines: {
              color: ['gray', 'transparent', 'transparent', 'transparent', 'transparent']
            },
            drawBorder: false
          }
        ],
        xAxes: [
          {
            scaleLabel: {
              fontColor: 'gray',
            },
            gridLines: {
              color: ['gray', 'black', 'black', 'black', 'black']
            },
            drawBorder: false
          }
        ]
      }
    }
 %>
</div>
