<div id="epic-<%= epic.id %>" class="epic-container">
  <div class="ticket-stats">
    <div class="epic-title">
      <%= epic.name %>
    </div>
    <div class="total-tickets">
      Total Tickets: <%= epic.total_tickets.to_i %>
    </div>
    <div class="completed-tickets">
      Completed Tickets: <%= epic.completed_tickets.to_i %>
    </div>
    <div class="unestimated-tickets">
      Unestimated Tickets: <%= epic.unestimated_tickets.to_i %>
    </div>
  </div>
  <%= line_chart [
      {name: 'Target', data: epic.epic_snapshots.map{|snapshot| [snapshot.created_at.in_time_zone("EST").strftime("%B %e %Y %l %p"), snapshot.total_storypoints]} },
      {name: 'Progress', data: epic.epic_snapshots.map{|snapshot| [snapshot.created_at.in_time_zone("EST").strftime("%B %e %Y %l %p"), snapshot.completed_storypoints]} }
    ], height: "600px", colors: ["#c32aff", "#39ff14"], min: 0, max: (epic.highest_storypoint_count * 1.2).to_i, points: false, xtitle: "Time", ytitle: "Storypoint Completion",
    library: {
      scales: {
        yAxes: [
          {
            scaleLabel: {
              fontColor: 'gray',
            },
            gridLines: {
              color: ['gray', 'transparent', 'transparent', 'transparent', 'transparent']
            },
            drawBorder: false
          }
        ],
        xAxes: [
          {
            scaleLabel: {
              fontColor: 'gray',
            },
            gridLines: {
              color: ['gray', 'black', 'black', 'black', 'black']
            },
            drawBorder: false
          }
        ]
      }
    }
 %>
</div>
